<!DOCTYPE html>
<html>
  <head>
    <title>Delete account</title>
 </head>
  <body>
    <h1>Delete your account:</h1>
    <h4>Are you sure you want to delete your account? All data will be lost permanently.</h4>
    <form action="/api/trustees/<%= id %>/delete" method="POST">
      <button type="submit">Delete account</button>
    </form>
  </body>
</html>