<!DOCTYPE html>
<html>
  <head>
    <title>Logout</title>
 </head>
  <body>
    <h1>Logout</h1>
    <h4>Are you sure you want to logout?</h4>
    <form action="/api/auth/logout/" method="POST">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>